include setup.py
include MANIFEST.in
include docs/README.md
include docs/LICENSE.txt
include requirements.txt
include versioneer.py
include src/TonometrySimulation/_version.py

graft tests
graft examples
graft docs
graft src
graft src/TonometrySimulation
