body {
  background: linear-gradient(-45deg, #111122, #0F0F0F, #112211, #222222);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  font-family: Consolas;
  color: #f1f1f1;
}
* {box-sizing: border-box;}
h1 {
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#gatViewContainer canvas {
  background: linear-gradient(-45deg, #111122, #072083, #0f59f2, #0a30a3);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
#zoomedPhoto, #origPhoto, canvas, .GAT-editor {
  border: 4px solid #d4d4d4;
  /*set the size of the result div:*/
  /*width: 360px; // programmatically set now
  height: 360px;*/
  border-radius: 5%;
}

.img-zoom-container {
  position: relative;
  text-align: left;
}
#zoomingLens {
  position: absolute;
  border: 2px solid #d4d4d4;
  border-radius: 10%;
}
#GAT-controller-view canvas {
  background-color: #999;
}
.GAT-editor {
  width: 360px;
  height: 360px;
  background-color: #999;
}
.GAT-editor p, .GAT-editor h2, .GAT-editor h3 {
  margin: 0px;
}
.GAT-editor div {
  width: 95%;
  margin-top:    3.0%;
  margin-bottom: 3.0%;
  margin-left:   2.5%;
  margin-right:  2.5%;
}
.GAT-editor table {
  width: 100%;
  border-collapse: collapse;   /* Combines adjacent borders into one line. If this is not done, then borders cannot be set on tr rows. */
  background-color: #444;
}
.GAT-editor table th {
  background-color: #000;
}
#GAT-console tbody {
  text-align: left;
  padding: 10px;
}
#GAT-console tr {
  border: 1px solid white;
}
#GAT-console td:last-child {
  font-size: 25%;
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}
.GAT-console-holder {
  overflow-y: auto;
  height: 25%;

}
.GAT-console-holder thead th {
  position: sticky;
  top: 0;
}

.GAT-controls td, #GAT-controls th {
  border: 1px solid white;
}
.GAT-controls button {
  font-size: 75%;
  font-family: "courier";
}
.GAT-controls .value-displayer td {
  font-size: 75%;
  font-family: "courier";
}
.GAT-controls input {
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 36px;
  text-align: center;

}
#zoomedPhotoContainer {
  grid-column: 1;
}
#origPhotoContainer {
  grid-column: 1;
}
#gatViewContainer {
  grid-column: 2;
}
#joystickContainer {
  grid-column: 2;
}
#keyboardContainer {
  grid-column: 3;
}

.grid-container > div:nth-child(3n+1) { /* first column, then every third div */
  justify-self: end;
}
.grid-container > div:nth-child(3n+2) { /* second column, then every third div */
  justify-self: center;
}
.grid-container > div:nth-child(3n) { /* third column, then every third div */
  justify-self: start;
}
